@mixin flex-position($horyzontal: center, $vertical: center, $wrap: wrap, $space: 0, $direction: row, $display: flex){
  display: $display;
  justify-content: $horyzontal;
  align-items: $vertical;
  flex-wrap: $wrap;
  gap: $space;
  flex-direction: $direction;
}