.customers {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $bg-color3;


&_title {
  color: $text-color;
  text-align: center;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

&_item {
  border-radius: 4px;
  border: 1px solid $text3-color;
  width: 170px;
  height: 92px;
  padding-left: 32px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-top: 16px;
  transform: rotate(0);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

&_icon {
  width: 106px;
  height: 60px;
  fill: $text3-color;
  display: inline-block;
}

&_list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

&_item:hover {
  border-radius: 4px;
  border: 1px solid $subtitle-color;
  width: 170px;
  height: 92px;
  padding-left: 32px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-top: 16px;
  transform: rotate(180deg);
}

&_icon:hover {
  fill: $subtitle-color;
}
}