.customers {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $bg-color3;


&__title {
 @extend %title;
  text-align: center;
  text-align: center;
  margin-bottom: 50px;
}

&__item {
  border-radius: 4px;
  border: 1px solid $text3-color;
  width: 170px;
  height: 92px;
  padding-left: 32px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-top: 16px;
  transform: rotate(0);
  transition-property: color, background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

&__icon {
  width: 106px;
  height: 60px;
  fill: $text3-color;
  display: inline-block;
}

&__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

&__item:hover {
  border-radius: 4px;
  border: 1px solid $subtitle-color;
  width: 170px;
  height: 92px;
  padding-left: 32px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-top: 16px;
  transform: rotate(180deg);
}

&__icon:hover {
  fill: $subtitle-color;
}
}