.header {
  padding-top: 10px;
  border-bottom: solid 1px $bg-color2;
  padding-bottom: 10px;
  @media screen and (min-width: 768px) {
    padding-bottom: 21px;
    padding-top: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 32px;
    padding-top: 32px;
  }

  &__span {
    @extend %tablet-span;
  }

  &__container {
    display: flex;
  }

  &__title {
    @extend %small-title;
    @include flex-position($display: flex,  $wrap: no-wrap);
    letter-spacing: 0.03px;
    @media screen and (min-width: 768px) {
      @include flex-position($display: block);
    }
    @media screen and (min-width: 1200px) {
      font-size: 26px;
    }
  }

  &__nav {
    @include flex-position($display: flex);

    &:hover {
      color: $subtitle-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
    }
  }

  &__list {
    display: none;
    @media screen and (min-width: 768px) {
      @include flex-position($display: flex, $space: 50px);
      margin-left: 88px;
    }
    @media screen and (min-width: 1200px) {
      @include flex-position($display: flex, $space: 50px);
      margin-left: 95px;
    }
  }

  &__link {
    display: inline-block;
    color: $text-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;
    transform: scale(1);
    transition-property: color, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    @media screen and (min-width: 768px) {
      letter-spacing: 0.02em;
    }
    @media screen and (min-width: 1200px) {
    }

    &:hover {
      color: $subtitle-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
      transform: scale(1.15);
    }
    &::after {
      content: "";
      width: 48px;
      height: 4px;
      flex-shrink: 0;
      border-radius: 2px;
      display: none;
      bottom: -44px;
      left: 0;
      background: $subtitle-color;
      position: absolute;
    }
    &:hover::after {
      display: block;
      animation: spin 2s infinite;
    }
  }

  &__link2 {
    color: $text-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;
    transform: scale(1);
    transition-property: color, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    display: inline-block;
    @media screen and (min-width: 768px) {
      letter-spacing: 0.02em;
    }
    @media screen and (min-width: 1200px) {
    }

    &:hover {
      color: $subtitle-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
      transform: scale(1.15);
    }
    &::after {
      content: "";
      width: 72px;
      height: 4px;
      flex-shrink: 0;
      border-radius: 2px;
      display: none;
      bottom: -44px;
      left: 0;
      background: $subtitle-color;
      position: absolute;
    }
    &:hover::after {
      display: block;
      animation: spin 2s infinite;
    }
  }

  &__link3 {
    color: $text-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;
    transform: scale(1);
    transition-property: color, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    display: inline-block;
    @media screen and (min-width: 768px) {
      letter-spacing: 0.02em;
    }
    @media screen and (min-width: 1200px) {
    }

    &:hover {
      color: $subtitle-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
      transform: scale(1.15);
    }
    &::after {
      content: "";
      width: 64px;
      height: 4px;
      flex-shrink: 0;
      border-radius: 2px;
      display: none;
      bottom: -44px;
      left: 0;
      background: $subtitle-color;
      position: absolute;
    }
    &:hover::after {
      display: inline-block;
      animation: spin 2s infinite;
    }
  }

  &__list2 {
    display: none;
    margin-left: auto;
    @media screen and (min-width: 768px) {
      margin-left: 90px;
      list-style-type: none;
      @include flex-position($display: flex);
    }
    @media screen and (min-width: 1200px) {
      margin-left: auto;
      list-style-type: none;
      @include flex-position($display: flex);
    }
  }

  &__icon__nav {
    width: 40px;
    height: 40px;
    fill: #000;
    margin-left: 100%;
    margin-right: 15px;
    @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__mail {
    @media screen and (min-width: 768px) {
      color: $subtext-color;
      font-family: "Roboto";
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.02px;
      @include flex-position($display: flex);
      transform: scale(1);
      transition-property: color, background-color, transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
    &:hover,
    &:focus {
      color: $subtitle-color;
      transform: scale(1.15);
    }
  }

  &__mail__icon {
    margin-right: 10px;
    fill: currentColor;
    width: 16px;
    height: 12px;
  }

  &__tel {
    @media screen and (min-width: 768px) {
      color: $subtext-color;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.02px;
      transform: scale(1);
      transition-property: color, background-color, transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0;
      @include flex-position($display: flex);
      margin-right: 10px;
      fill: currentColor;
      width: 123px;
      height: 14px;
    }
    @media screen and (min-width: 1200px) {
      width: 142px;
      height: 16px;
    }
margin-right: auto;
    &:hover {
      color: $subtitle-color;
      transform: scale(1.15);
    }
    &__icon {
      margin-right: 10px;
      fill: currentColor;
      width: 10px;
      height: 16px;
    }
  }
}
