.header {
  padding-top: 32px;
  border-bottom: solid 1px $bg-color2;
  padding-bottom: 32px;

  &__container {
    display: flex;
  }
  &__title {
    @extend %title;
    letter-spacing: 0.78px;
  }
  span {
    color: $text2-color;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
  }
  &__nav {
    display: flex;
    align-items: center;

    &:hover {
      color: $subtitle-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
    }
  }

  &__list {
    display: flex;
    gap: 50px;
    display: flex;
    margin-left: 95px;
    margin-right: 313px;
    margin-bottom: px;
  }

  &__link {
    display: inline-block;
    color: $text-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;
    transform: scale(1);
    transition-property: color, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover {
      color: $subtitle-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
      transform: scale(1.15);
    }
    &::after {
      content: "";
      width: 48px;
      height: 4px;
      flex-shrink: 0;
      border-radius: 2px;
      display: none;
      bottom: -44px;
      left: 0;
      background: $subtitle-color;
      position: absolute;
    }
    &:hover::after {
      display: block;
      animation: spin 2s infinite;
    }
  }

  &__link2 {
    color: $text-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;
    transform: scale(1);
    transition-property: color, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    display: inline-block;

    &:hover {
      color: $subtitle-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
      transform: scale(1.15);
    }
    &::after {
      content: "";
      width: 72px;
      height: 4px;
      flex-shrink: 0;
      border-radius: 2px;
      display: none;
      bottom: -44px;
      left: 0;
      background: $subtitle-color;
      position: absolute;
    }
    &:hover::after {
      display: block;
      animation: spin 2s infinite;
    }
  }

  &__link3 {
    color: $text-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;
    transform: scale(1);
    transition-property: color, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    display: inline-block;

    &:hover {
      color: $subtitle-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
      transform: scale(1.15);
    }
    &::after {
      content: "";
      width: 64px;
      height: 4px;
      flex-shrink: 0;
      border-radius: 2px;
      display: none;
      bottom: -44px;
      left: 0;
      background: $subtitle-color;
      position: absolute;
    }
    &:hover::after {
      display: inline-block;
      animation: spin 2s infinite;
    }
  }

  &__list2 {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__mail {
    color: $subtext-color;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    transform: scale(1);
    transition-property: color, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover,
    &:focus {
      color: $subtitle-color;
      transform: scale(1.15);
    }
  }

  &__mail-icon {
    margin-right: 10px;
    fill: currentColor;
    width: 16px;
    height: 12px;
  }

  &__tel {
    color: $subtext-color;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transform: scale(1);
    transition-property: color, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    display: flex;
    align-items: center;
    margin-right: 10px;
    fill: currentColor;
    width: 142px;
    height: 16px;

    &:hover {
      color: $subtitle-color;
      transform: scale(1.15);
    }
    &-icon {
      margin-right: 10px;
      fill: currentColor;
      width: 10px;
      height: 16px;
    }
  }
}
