.hero {
    padding-top: 94px;
    padding-bottom: 94px;


&_title {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
    text-align: center;
}

&_photo {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

&_gallery {
    display: flex;
    gap: 30px;
}

&_item {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
    position: relative;
}

&_bg_item {
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    flex-shrink: 0;
}

&_item>&_bg3 {
    position: absolute;
    top: 224px;
    right: 0;
    margin: 0;
    padding: 18px 95px;
    border-bottom-left-radius: 4px;
}

&_item>&_bg2 {
    position: absolute;
    top: 224px;
    right: 0;
    margin: 0;
    padding: 27px 0;
    width: 100%;
    border-bottom-left-radius: 4px;
}

&_item>&_bg {
    position: absolute;
    top: 224px;
    right: 0;
    margin: 0;
    padding: 27px 0;
    width: 100%;
    border-bottom-left-radius: 4px;
}

&_bg {
    background: rgba(47, 48, 58, 0.8);
    color: $bg-color3;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

&_bg2 {
    background: rgba(47, 48, 58, 0.8);
    color: $bg-color3;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

&_bg3 {
    background: rgba(47, 48, 58, 0.8);
    color: $bg-color3;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

&_photo_bg {
    width: 370px;
    height: 70px;
    flex-shrink: 0;
    background: rgba(47, 48, 58, 0.8);
}
}