.info {
  &__list {
    display: flex;
    margin-top: 94px;
    width: 1170px;
    height: 248px;
  }

  &__item {
    margin-right: 30px;
    display: block;
    gap: 30px;
  }

  &__item1::before {
    @extend %icon;
    background-image: url(../photo/antenna1.1.webp);

  }

  &__item2::before {
    @extend %icon;
    background-image: url(../photo/clock1.webp);
  }

  &__item3::before {
    @extend %icon;
    background-image: url(../photo/diagram1.webp);
  }

  &__item4::before {
    @extend %icon;
    background-image: url(../photo/astronaut1.webp);
  }

  &__subtitle {
    color: $text-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  &__text {
    color: $subtext-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
}
