.info {
  &__list {
    display: flex;
    margin-top: 94px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__item {
    display: block;
    width: 450px;
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__item1::before {
    @extend %icon;
    background-image: url("../../image/mobile/info-antena@mobile-1x.webp");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../image/mobile/info-antena@mobile-2x.webp");
    }
    @media screen and (min-width: 768px) {
      background-image: url("../../image/tablet/info-antena@tablet-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../../image/tablet/info-antena@tablet-2x.webp");
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url("../../image/desktop/info-antena@desktop-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../../image/desktop/info-antena@desktop-2x.webp");
      }
    }
  }

  &__item2::before {
    @extend %icon;
    background-image: url("../../image/mobile/info-clock@mobile-1x.webp");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../image/mobile/info-clock@mobile-2x.webp");
    }
    @media screen and (min-width: 768px) {
      background-image: url("../../image/tablet/info-clock@tablet-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../../image/tablet/info-clock@tablet-2x.webp");
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url("../../image/desktop/info-clock@desktop-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../../image/desktop/info-clock@desktop-2x.webp");
      }
    }
  }

  &__item3::before {
    @extend %icon;
    background-image: url("../../image/mobile/info-computer@mobile-1x.webp");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../image/mobile/info-computer@mobile-2x.webp");
    }
    @media screen and (min-width: 768px) {
      background-image: url("../../image/tablet/info-computer@tablet-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../../image/tablet/info-computer@tablet-2x.webp");
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url("../../image/desktop/info-computer@desktop-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../../image/desktop/info-computer@desktop-2x.webp");
      }
    }
  }

  &__item4::before {
    @extend %icon;
    background-image: url("../../image/mobile/info-astronaut@mobile-1x.webp");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../image/mobile/info-astronaut@mobile-2x.webp");
    }
    @media screen and (min-width: 768px) {
      background-image: url("../../image/tablet/info-astronaut@tablet-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../../image/tablet/info-astronaut@tablet-2x.webp");
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url("../../image/desktop/info-astronaut@desktop-1x.webp");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../../image/desktop/info-astronaut@desktop-2x.webp");
      }
    }
  }

  &__subtitle {
    color: $text-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__text {
    color: $subtext-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
  }
}
