.info {
  &__list {
    display: flex;
    margin-top: 94px;
    @include flex-position($display: block);
    @media screen and (min-width: 768px) {
      @include flex-position($wrap: wrap, $display: flex);
    }
    @media screen and (min-width: 1200px) {
      @include flex-position($display: flex, $wrap: nowrap);
    }
  }

  &__item {
    margin-right: 30px;
    display: block;
    gap: 30px;
  }

  &__item1::before {
    @extend %icon;
    width: 354px;
    background-image: url(../photo/antenna1.1.webp);
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__item2::before {
    @extend %icon;
    width: 354px;
    background-image: url(../photo/clock1.webp);
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__item3::before {
    @extend %icon;
    width: 354px;
    background-image: url(../photo/diagram1.webp);
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__item4::before {
    @extend %icon;
    width: 354px;
    background-image: url(../photo/astronaut1.webp);
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__subtitle {
    color: $text-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  &__text {
    color: $subtext-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}
