.photo {
  padding-top: 94px;
  padding-bottom: 94px;

  &__button-list {
    display: flex;
    margin-left: 297px;
    margin-right: 297px;
    margin-bottom: 50px;
  }

  &__button {
    background: $bg-color2;
    color: $text-color;
    text-align: center;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    width: 125px;
    height: 38px;
    flex-shrink: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    margin-right: 8px;
    transform: rotate(0);
    transition-property: color, background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    display: inline-block;

    &:hover {
      background: $subtitle-color;
      color: $bg-color3;
      text-align: center;

      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0.48px;
      transform: rotate(180deg);
    }
  }

  &__button1 {
    width: 73px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    background: $bg-color2;
  }

  &__button2 {
    border-radius: 4px;
    background: $bg-color2;
  }

  &__button3 {
    width: 112px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    background: $bg-color2;
  }

  &__button4 {
    width: 103px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    background: $bg-color2;
  }

  &__button5 {
    width: 130px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    background: $bg-color2;
  }

  &__item:hover &__overlay-box {
    transform: translatey(0);
  }

  &__overlay {
    position: relative;
    overflow: hidden;
  }

  &__overlay-text {
    color: $bg-color3;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    margin-top: 64px;
    margin-left: 24px;
  }

  &__overlay-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
  }

  &__list {
    @include flex-position($display: flex, $wrap: wrap, $space: 30px)
  }

  &__item {
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid $bg-color2;
    background: $bg-color3;
  }

  &__item:hover {
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid $bg-color2;
    background: $bg-color3;
    border: 1px solid $bg-color2;
    background: $bg-color3;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  }

  &__title {
    @extend %title;
    margin-left: 24px;
    margin-top: 20px;
  }

  &__subtitle {
    color: $subtext-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
    margin-left: 24px;
    margin-bottom: 20px;
  }
}
